<h2>本当に退会しますか？</h2>


<p>退会すると、会員登録情報や</p>
<p>これまでの購入履歴が閲覧できなくなります。</p>
<p>退会する場合は、「退会する」をクリックしてください。</p>

<%= link_to '退会しない', public_customer_path %> 

<%#= link_to '退会する', public_homes_top_path %> <%#https://qiita.com/__Wata16__/items/9e05596afb671e540365 参考うらる%>
<%link_to "退会する", unsubscribe_path, method: :patch, data: { confilm: "本当に退会しますか？" } %>