  <h1>商品一覧</h1>

  <% @items.each do |item| %>
  <span><%= item.id %></span>
  <span><%= item.name %></span>
  <span><%= item.price %></span>
  <span>ジャンル名<%#= link_to item.genre, book_path(item.id) %></span>
  <span><%= item.is_active %></span>
  <% end %>