  <div class="container">
    <div class="row my-3">
      <div class="col-sm-8 px-sm-0 offset-sm-1">
        <h1>会員一覧</h1>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-sm-10 px-sm-0 offset-sm-1">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-active">会員ID</th>
              <th class="table-active">氏名</th>
              <th class="table-active">メールアドレス</th>
              <th class="table-active">ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
              <tr>
                <td><%= customer.id %></td>
                <td><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id) %></u></td>
                <td><%= customer.email %></td>
                <td><% if customer.is_deleted == false %>
                <p>有効</p>
                <% else %>
                <p>退会</p>
                <% end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

