<h1>ジャンル一覧</h1>
<%#= form_with model: @genre, url: '/admin/genres' method: :post do |f| %>
<%= form_with model: @genre, url: admin_genres_path do |f| %>
<h4>ジャンル名</h4>
  <%= f.text_field :name %>

  <%= f.submit '新規登録' %>
<% end %>

<h1>ジャンル</h1>

<%# @genres.each do |genre| %>

 <%# <p>ジャンル</p>
  <span><%= janre.title %><%#</span>

<%# end %>
