<h1>ショッピングカート</h1>

<p>商品名</p>

<p>単価(税込)</p>

<p>数量</p>

<p>小計</p>

<p>合計金額</p>
 <% @items.each do |item| %>
 
  <span><%= item.name %></span>
  <p><%#= @item.add_tax_price.to_s(:delimited) %> 円</p>
 <p>数量</p>
 <p>小計</p>
  <% end %>